body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 680px;
    width: 80%;
    background-image: url("background.jpg");
    float: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    
}
.square {
    height: 680px;
    width: 20%;
    background-color: #000000;

    float: right;
    z-index: 2;
}